<% if(locals.confirmMessage){ %>
    <span style="color: green;"><%= confirmMessage %></span><br>
<%}%>

<% if(locals.errorMessage){ %>
    <span style="color: red;"><%= errorMessage %></span><br>
<%}%>