a.bookCard {
    text-decoration: none;
    text-decoration-style: none;
    -moz-text-decoration-style: none;
}

a.bookCard>div {
    display: inline-block;
    width: 160px;
    text-align: center;
    height: 300px;
}

.bookCard img {
    max-width: 150px;
    max-height: 250px;
}

.bookCard h3 {
    margin-top: 5px;
}