<label for="name">Name:</label><br>
<input type="text" name="name" id="movieName" value="<%= Movie.name %>">
<br>
<label for="description">Description:</label><br>
<textarea type="textarea" name="description" id="movieDescription"><%= Movie.description %></textarea><br>